body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0b0014;
    color: white;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #1a0033;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px #7a00ff;
}

.login-box h2 {
    text-align: center;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}

button {
    background: #7a00ff;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar {
    width: 230px;
    background: #150026;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    box-shadow: 0 0 15px #5500aa;
}

.sidebar button {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    background: #7a00ff;
}

.main {
    margin-left: 250px;
    padding: 20px;
}

.tab {
    display: none;
}

#savedToast {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    background: #00ff88;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
}
